{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": "airbnb-base",
    "env": {
        "brower": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "max-length": 0
    },
    "plugins": ["import"],
    "globals": {}
}
